/*Styles for checkout page*/

.contentArea {
    min-height: 100vh;
    clear: both;
}

.header {
    height: 10rem;
    color: white;
    background-color: tomato;
    position: relative;
    z-index: -9;
    margin: 0;
    padding: 0;
    background-image: url(https://static.pexels.com/photos/48726/pexels-photo-48726.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -9;
}

.header .valign-wrapper {
    height: 100%;
    text-align: center;
}

.gParallax {
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    /*z-index: 99;*/
    margin: 0;
}

#contentPlaceWrap,
.slantBord {
    margin: 0;
    padding: 0 !important;
}


/*Progress tracking bar css*/


/*End of progress tracker bar css*/

.itemBar {
    height: 7rem;
}

.item {
    height: 100%;
}

.item .card-panel {
    padding: 0;
    margin: 0;
    height: 100%;
}

.itemImage {
    height: 100%;
}

.itemImage img {
    height: 100%;
    width: auto;
}

.priceCol,
.quantityCol,
.totalCol,
.deleteCol,
.quantityCol .valign-wrapper,
.priceCol .valign-wrapper,
.totalCol .valign-wrapper,
.deleteCol .valign-wrapper {
    height: 100%;
    text-align: center;
}

.itemDesc {
    padding-left: 2rem !important;
}

.itemHold {
    box-shadow: none;
}

.navTitle {
    text-align: center;
}

.checkNav {
    background-color: tomato;
}

.checkOutPage .checkOutBtn {
    background-color: limegreen;
}

.totalCheckoutAmount .card-panel {
    padding: 0.2rem !important;
    text-align: center;
    background-color: tomato !important;
}

.checkBtns {
    text-align: center !important;
}

.checkBtns p {
    margin: 1rem auto;
}

.billingSection nav {
    text-align: center;
    background-color: tomato;
}

.billingSection nav h5 {
    margin: 0 auto;
}

.billingSection .paymentMethod {
    text-align: center;
    color: tomato;
}

.billingSection .paymentMethod i {
    font-size: 250%;
    transition: transform 0.4s ease-in-out;
}

.billingSection .paymentMethod i:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.checkoutModal {
    width: 25%;
    background: tomato;
    color: white;
    max-height: 100% !important;
}

.checkoutModal #foodPayTitle {
    text-align: center;
}

.checkoutModal label {
    color: white !important;
}

.checkoutModal .verifIcon {
    color: limegreen;
    font-size: 50%;
}

.checkOutProcess .proceedBtn,
.checkOutProcess .cancelBtn {
    border-radius: 50px;
}

.checkOutProcess .proceedBtn {
    background-color: transparent;
    border: 1px solid limegreen;
    color: limegreen;
}

.checkOutProcess .cancelBtn {
    background-color: transparent;
    border: 1px solid orangered;
    color: orangered;
}

.checkOutProcess .proceedBtn:hover {
    background-color: limegreen;
    border: none;
    color: white;
}

.checkOutProcess .cancelBtn:hover {
    background-color: orangered;
    border: none;
    color: white;
}

.checkOutSection .mainRow {
    background: aliceblue;
    min-height: 40rem;
    text-align: center;
    padding-top: 5rem;
}

.mainVAlign {
    height: inherit;
}

.checkOutSection .imageWrap {
    width: 15rem;
    height: 15rem;
    background-color: lightblue;
    margin: 0 auto;
}

.checkOutSection .txtWrap {
    margin: 0 auto;
    font-size: 900%;
    color: limegreen;
}

.receiptSect {
    margin-top: 2rem;
}

.receiptSect>* {
    display: inline-block;
    margin: 0.5rem;
}

.checkOutSection .userView {
    background-color: tomato;
}

.checkOutSection .content {
    background: aliceblue;
    height: 60%;
    overflow-y: auto;
}

#receiptOut {
    text-align: left;
}

.foodReceipt {
    border-top: 2px dashed tomato !important;
    border-bottom: 2px solid tomato;
}

.requestDeliveryBtn {
    background-color: limegreen;
}

.viewReceiptBtn {
    background-color: tomato;
}


/*Default state*/

.payementDetails,
.checkOutSection {
    display: none;
}


/***/