/*Styles for checkout page*/

.contentArea {
    min-height: 100vh;
    clear: both;
}

.header {
    height: 10rem;
    background-color: tomato;
    position: relative;
    z-index: -9;
}

.header .valign-wrapper {
    height: 100%;
    text-align: center;
}

.gParallax {
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    z-index: 99;
    margin: 0;
}

#contentPlaceWrap,
.slantBord {
    margin: 0;
    padding: 0 !important;
}


/*Progress tracking bar css*/


/*End of progress tracker bar css*/

.itemBar {
    height: 7rem;
}

.item {
    height: 100%;
}

.item .card-panel {
    padding: 0;
    margin: 0;
    height: 100%;
}

.itemImage {
    height: 100%;
}

.itemImage img {
    height: 100%;
    width: auto;
}

.priceCol,
.quantityCol,
.totalCol,
.deleteCol,
.quantityCol .valign-wrapper,
.priceCol .valign-wrapper,
.totalCol .valign-wrapper,
.deleteCol .valign-wrapper {
    height: 100%;
    text-align: center;
}

.itemDesc {
    padding-left: 2rem !important;
}

.itemHold {
    box-shadow: none;
}

.navTitle {
    text-align: center;
}

.checkNav {
    background-color: tomato;
}

.checkOutPage .checkOutBtn {
    background-color: lawngreen;
}

.totalCheckoutAmount .card-panel {
    padding: 0.2rem !important;
    text-align: center;
    background-color: tomato !important;
}

.checkBtns {
    text-align: center !important;
}

.checkBtns p {
    margin: 1rem auto;
}

.orderDetails {
    display: none;
}

.billingSection nav {
    text-align: center;
    background-color: tomato;
}

.billingSection nav h5 {
    margin: 0 auto;
}

.billingSection .paymentMethod {
    text-align: center;
    color: tomato;
}

.billingSection .paymentMethod i {
    font-size: 250%;
    transition: transform 0.4s ease-in-out;
}

.billingSection .paymentMethod i:hover {
    transform: scale(1.1);
    cursor: pointer;
}