/*Styles for checkout page*/

.contentArea {
    min-height: 100vh;
}

.header {
    height: 15rem;
    background-color: tomato;
    position: relative;
    z-index: -9;
}

.header .valign-wrapper {
    height: 100%;
    text-align: center;
}

.gParallax {
    position: absolute;
    top: 12rem;
    left: 0;
    width: 100%;
    z-index: 99;
    margin: 0;
}

#contentPlaceWrap,
.slantBord {
    margin: 0;
    padding: 0 !important;
}