* {
    box-sizing: border-box;
}

#container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 2.5vh;
    border-style: solid;
    border-bottom-color: #be1e2d;
}

#spAdminContainer {
    float: right;
    width: 80%;
    height: 100vh;
    overflow: hidden;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1vh;
    border-style: solid;
    border-bottom-color: #be1e2d;
}

#loginCard {
    position: absolute;
    top: 50%;
    right: 2.5%;
    padding: 20px;
    transform: translateY(-50%);
    resize: vertical;
}

#indexCard {
    position: relative;
    top: 50%;
    left: 5%;
    padding: 20px;
    transform: translateY(-220%);
    resize: vertical;
    background-color: #be1e2d;
    border-radius: 15px;
}

#transCard {
    position: relative;
    left: 30%;
    margin: 0 auto;
    padding: 20px;
    transform: translateY(-135%);
    resize: vertical;
    background-color: #be1e2d;
    border-radius: 15px;
}

#transCard h4,
h5 {
    color: #ffffff;
}

#transCard h5 {
    color: #ffffff;
}

#hbtn {
    background-color: #00ff00;
}

#transCard button {
    background-color: #00ff00;
    border-radius: 5em;
}

#transCard a {
    background-color: #00ff00;
    border-radius: 5em;
}

#menuBtn {
    position: fixed;
    top: 6%;
    right: 2%;
    padding: 20px;
    transform: translateY(-50%);
    resize: vertical;
    color: #000000;
}

#backBtn {
    position: fixed;
    top: 1%;
    left: 2%;
    padding: 20px;
    transform: translateY(-50%);
    resize: vertical;
    color: #ffffff;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#nameDisplay {
    position: fixed;
    top: 5%;
    left: 5%;
    transform: translateY(-50%);
    font-size: 1.5em;
}

#menLog {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
}

#pageTitle {
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 130%);
}

#checkImage {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 60%);
}

#checkCard {
    position: relative;
    left: 30%;
    margin: 0 auto;
    padding: 20px;
    transform: translateY(-155%);
    resize: vertical;
    background-color: #be1e2d;
    border-radius: 15px;
}

#checkCard h2,
h4 {
    display: inline;
    color: #000000;
}

#checkCard h3,
h4,
h5 {
    color: #000000;
}

#loginBTN {
    width: 35%;
}


/* label focus color */

.input-field input[type=text]:focus+label {
    color: #be1e2d;
}


/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid #be1e2d;
    box-shadow: 0 1px 0 0 #be1e2d;
}


/* valid color */

.input-field input[type=text].valid {
    border-bottom: 1px solid #9d1e2d;
    box-shadow: 0 1px 0 0 #9d1e2d;
}


/* label focus color */

.input-field input[type=password]:focus+label {
    color: #be1e2d;
}


/* label underline focus color */

.input-field input[type=password]:focus {
    border-bottom: 1px solid #be1e2d;
    box-shadow: 0 1px 0 0 #be1e2d;
}


/* valid color */

.input-field input[type=password].valid {
    border-bottom: 1px solid #9d1e2d;
    box-shadow: 0 1px 0 0 #9d1e2d;
}


/* label focus color */

.input-field input[type=email]:focus+label {
    color: #be1e2d;
}


/* label underline focus color */

.input-field input[type=email]:focus {
    border-bottom: 1px solid #be1e2d;
    box-shadow: 0 1px 0 0 #be1e2d;
}


/* valid color */

.input-field input[type=email].valid {
    border-bottom: 1px solid #9d1e2d;
    box-shadow: 0 1px 0 0 #9d1e2d;
}

#forgotPasswordModal h4 {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    color: #ffffff;
    text-align: center;
    background-color: #9d1e2d;
}

#id_numberIndex {
    background-color: #ffffff;
    border-radius: 2.5em;
    text-align: center;
    font-size: 2em;
    height: 10vh;
}

#id_transAmt {
    background-color: #ffffff;
    border-radius: 0.5em;
    text-align: center;
    font-size: 2em;
    height: 12vh;
}

#numberIndexSend {
    position: absolute;
    background-color: #00ff00;
    transform: translateY(25%);
    right: 5%;
}

#logOut {
    position: fixed;
    bottom: 8%;
}

.parallax-container {
    height: 100vh;
}

#searchPage #menuPage {
    position: relative;
}

#Layer_1 {
    position: absolute;
    bottom: -40%;
}

#headerPain {
    position: absolute;
    top: -10%;
}

#menuPage {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 2.5vh;
    border-style: solid;
    border-bottom-color: #be1e2d;
}

#idSearch {
    background-color: #ffffff;
    border-radius: 0.5em;
    border-style: solid;
    border-width: 0.1em;
    border-color: #be1e2d;
    text-align: center;
    font-size: 2em;
    height: 10vh;
}

#searchDiv {
    margin: 0;
    position: relative;
    left: 50%;
    top: 30%;
    width: 60%;
    transform: translate(-50%, 50%);
}

header,
main,
footer {
    padding-left: 300px;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
}

nav {
    width: 80%;
}

.side-nav {
    width: 20%;
    float: left;
}

#logBTN {
    padding-top: 42.75vh;
}

round-button {
    width: 25%;
}

.fcontainer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

.wrapper {
    display: table;
}

.foodMenu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.foodSect {
    width: 40%;
    height: 50%;
    background-color: transparent;
}

.fmenu {
    width: 100%;
    display: block;
    height: 40vh;
    background-color: transparent;
}

.fmenutop {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
}

.fleft,
.fright {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    border-radius: 5%;
}

.fright {
    overflow-y: scroll;
}

.fleft {
    position: relative;
    width: 100%;
    height: auto;
}

.fDesc {
    width: 120%;
    height: 100%;
    background-color: #f0f0f0;
    background-image: url(../images/foodimage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1%;
    position: absolute;
    top: -20px;
    left: -20px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    color: white !important;
}

.fDesc .details {
    position: relative;
    width: 100%;
    height: 100%;
}

.fDesc .details div {
    position: relative;
    right: 0;
    bottom: 0;
    padding-left: 5%;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.fDesc .details div h4 {
    color: white !important;
}

.flist {
    padding-left: 25%;
}

.fCat {
    width: 100%;
    height: 20%;
    position: relative;
}

.fCatB {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    top: 10px;
}

.fItem {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 20%;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.fItem:hover {
    transform: scale(1.1);
}

#water {
    background-image: url(../images/water.png);
}

#soda {
    background-image: url(../images/Soda.png);
}

#pastry {
    background-image: url(../images/Pastry.png);
}

#protein {
    background-image: url(../images/Protein.png);
}

.fCls {
    color: white;
    position: absolute;
    right: 300px;
    top: 150px;
    font-size: 120%;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.fCls:hover {
    transform: scale(1.1);
}

.pagebtn {
    display: table;
    margin: 0 auto;
}

.white .row {
    margin: 0 5%;
}

.itemBtn,
.itemBtn:hover {
    background: none;
    box-shadow: none;
}

.checkoutBtn {
    position: absolute;
    right: 0;
    bottom: 2px;
}

.lawngreen {
    background-color: lawngreen;
}

#checkout_slide-out {
    overflow: hidden;
}

.chekNav {
    height: inherit;
    background-color: tomato;
    padding: 2%;
    overflow-y: scroll;
}

#userProf {
    background-image: url(../images/kunfu.jpg);
    background-position: center;
    background-size: cover;
}

.idc {
    text-align: center;
    position: relative;
    height: 80vh;
}

.idc .container {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 240%;
    color: white;
}


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles */
}


/* Smartphones (landscape) ----------- */

@media only screen and (min-width: 321px) {
    /* Styles */
}


/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 320px) {
    /* Styles */
}


/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Styles */
}


/* iPads (landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* Styles */
}


/* iPads (portrait) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* Styles */
}


/**********
iPad 3
**********/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
}


/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
    /* Styles */
}


/* Large screens ----------- */

@media only screen and (min-width: 1824px) {
    /* Styles */
}


/* iPhone 4 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
}


/* iPhone 5 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}


/* iPhone 6 ----------- */

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
    /*	body {
		width: 100%;
		height: 100%;
		background-image: url('../images/bk1rt.jpg');
		background-repeat: no-repeat;
		background-size: contain;
	}*/
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}


/* iPhone 6+ ----------- */

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}


/* Samsung Galaxy S3 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}


/* Samsung Galaxy S4 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}


/* Samsung Galaxy S5 ----------- */

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}